.calculator {
  height: 380px;
  width: 280px;
  background-color: aliceblue;
  margin: 0 auto;
  margin-top: 80px;
  padding: auto;
  border: 1px solid #000;
}
.mainBar {
  margin-bottom: 20px;
  text-align: right;
}

.btn {
  font-size: 20px;
  cursor: pointer;
  width: 60px;
}

.line {
  padding: 10px;
}

.lastline {
  padding: 10px;
}

.lastline input {
  width: 120px;
  padding: 5px;
}

#inputBox {
  font-size: 25px;
  font-weight: bold;
}
